@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background:var(--color-primary) ;
}
.container{
    display: grid;
    grid-template-columns: 20% 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
}
.menu{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}
.title, ul, a{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--color-terceary);
    text-decoration: none;
}
.title{
    font-size: 2rem;
}
a{
    font-size: 1.3rem;
    font-weight: 300;
}
h1{
    font-size: 2rem;
}
.menu1, .title, .carrito{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
}
.piepag1{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 30%;
}
.todos{
    background-color: var(--color-primary);
    width: 95%;
    height: 80vh;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    grid-gap: 40px;
    overflow-y: scroll;
    box-shadow: var(--color-shadow-transparent);
    border-radius: 20px;
}
.maincarrito{
    background-color: var(--color-primary);
    width: 95%;
    height: 80vh;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    grid-gap: 40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: var(--color-shadow-transparent);
    border-radius: 20px;
}
.camisetas{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    grid-gap: 20px;
}
.shirt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.shirt1{
    width: 200px;
    height: 230px;;
    background: url(/storage/img/shirt1v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.shirt1:hover{
    transition: 0.5s ease;
    background: url(/storage/img/shirt1v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.shirt2{
    width: 200px;
    height: 230px;
    background: url(/storage/img/shirt2v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.shirt2:hover{
    transition: 0.5s ease;
    background: url(/storage/img/shirt2v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.shirt3{
    width: 200px;
    height: 230px;
    background: url(/storage/img/shirt3v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.shirt3:hover{
    transition: 0.5s ease;
    background: url(/storage/img/shirt3v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.shirt4{
    width: 200px;
    height: 230px;
    background: url(/storage/img/shirt4v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.shirt4:hover{
    transition: 0.5s ease;
    background: url(/storage/img/shirt4v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.shirt5{
    width: 200px;
    height: 230px;
    background: url(/storage/img/shirt5v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.shirt5:hover{
    transition: 0.5s ease;
    background: url(/storage/img/shirt5v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hoodie1{
    width: 200px;
    height: 230px;
    background: url(/storage/img/hoodie1v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hoodie1:hover{
    transition: 0.5s ease;
    background: url(/storage/img/hoodie1v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hoodie2{
    width: 200px;
    height: 230px;
    background: url(/storage/img/hoodie2v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hoodie2:hover{
    transition: 0.5s ease;
    background: url(/storage/img/hoodie2v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hoodie3{
    width: 200px;
    height: 230px;
    background: url(/storage/img/hoodie3v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hoodie3:hover{
    transition: 0.5s ease;
    background: url(/storage/img/hoodie3v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hoodie4{
    width: 200px;
    height: 230px;
    background: url(/storage/img/hoodie4v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hoodie4:hover{
    transition: 0.5s ease;
    background: url(/storage/img/hoodie4v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hoodie5{
    width: 200px;
    height: 230px;
    background: url(/storage/img/hoodie5v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hoodie5:hover{
    transition: 0.5s ease;
    background: url(/storage/img/hoodie5v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.pants1{
    width: 200px;
    height: 230px;
    background: url(/storage/img/pants1v1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pants2{
    width: 200px;
    height: 230px;
    background: url(/storage/img/pants2v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pants2:hover{
    transition: 0.5s ease;
    background: url(/storage/img/pants2v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.pants3{
    width: 200px;
    height: 230px;
    background: url(/storage/img/pants3v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pants3:hover{
    transition: 0.5s ease;
    background: url(/storage/img/pants3v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.pants4{
    width: 200px;
    height: 230px;
    background: url(/storage/img/pants4v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pants4:hover{
    transition: 0.5s ease;
    background: url(/storage/img/pants4v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.pants5{
    width: 200px;
    height: 230px;
    background: url(/storage/img/pants5v1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pants5:hover{
    transition: 0.5s ease;
    background: url(/storage/img/pants5v2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.text{
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2%;
    background-color: var(--color-secondary);
}
.text1{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
}
.open-menu{
    top: 10px;
    right: 20px;
    display: none;
    position: absolute;
}
.close-menu{
    top: 20px;
    right: 20px;
    display: none;
    position: absolute;
}
#check{
    display: none;
}
.menus{
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    justify-content: space-around;
}
.p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.p button{
    cursor: pointer;
    padding: 2%;
    border-radius: 10px;
    border: none;
    color: var(--color-primary);
    background: var(--color-terceary);
}
.carm a{
    display: none;
}
.car i, .tshirts i, .all i, .abri i, .pantal i, .carm i, .piepag2 i, .piepag1 i{
    font-size: 1.4rem;
}
.car, .tshirts, .all, .abri, .pantal, .carm, .piepag2, .piepag1, .caja{
    display: flex;
    align-items: center;
    gap: 5px;
}
.carrito1{
    display: none;
}
.piepag2{
    display: none;
}
.productoscarsell{
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 20px;
    box-shadow: var(--color-shadow-transparent);
    align-items: center;
}
.productoscarsell img{
    width: 100%;
    height: 20vh;
    border-radius: 30px;
    object-fit: contain;
    padding: 2%;
}
.nombre, .cantidad, .precio, .subtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cant{
    display: flex;
    width: 50%;
    border: 1px solid black;
    padding-left: 2%;
}
.borrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}
.borrar i{
    font-size: 2rem;
}
.botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.clear .vaciar{
    cursor: pointer;
    width: 200px;
    height: 100%;
    color: var(--color-primary);
    background: var(--color-terceary);
    border: none;
    border-radius: 20px;
}
.comprarahora{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.total{
    display: flex;
    flex-direction: column;
}
.pagar{
    cursor: pointer;
    width: 200px;
    color: var(--color-primary);
    background: var(--color-terceary);
    border: none;
    border-radius: 20px;
}
.caja{
    display: flex;
    width: 100%;
    padding: 2%;
    box-shadow: var(--color-shadow-transparent);
    border-radius: 20px;
}
.numero{
    display: flex;
    width: 20px;
    border: 1px solid black;
    padding: 2%;
    text-align: center;
}
@media (width < 800px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20px 1fr;
    }
    .todos, .maincarrito{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
    }
    .titulo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
    .menu{
        top: 0;
        height: 90px;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        box-shadow: var(--color-shadow-transparent);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: fixed;
        background: var(--color-primary);
    }
    .menu1{
        position: absolute;
    }
    .piepag2{
        display: flex;
    }
    .piepag1{
        display: none;
    }
    .carrito{
        display: none;
    }
    .camisetas{
        grid-template-columns: 1fr;
    }
    .todos h1{
        font-size: 1.2rem;
    }
    .menus{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        gap: 3%;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color-primary);
        transition:  0.2s ease;
    }
    .open-menu, .close-menu{
        display: block;
    }
    #check:checked~.menus{
        right: 0;
    }
    .carrito1{
        display: flex;
    }
    .carm a{
        display: flex;
    }
    .productoscarsell{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        align-content: center;
    }
    .maincarrito img{
        height: auto;
    }
    .maincarrito{
        grid-gap: 0;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr;
    }
    .clear{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .clear .vaciar{
        width: 100px;
        height: 50px;
    }
    .comprarahora{
        justify-content: start;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .total{
        order: 2;
    }
    .pagar{
        order: 1;
        width: 100px;
        height: 50px;
    }
    .nombre, .cantidad, .precio, .subtotal, .borrar{
        font-size: 0.8rem;
    }
    .caja{
        box-shadow: none;
        border-radius: none;
        padding: 0;
    }
}