<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="storage/img/logo-black.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
</head>
<body>
    <main class="container">
        <section>
            <nav class="menu">
                <h1 class="title">CampusShop</h1>
                <ul class="menu1">
                    <input type="checkbox" id="check">
                    <span class="menus">
                        <li><a href="/index.html">Todos los productos</a></li>
                        <li><a href="/views/abrigos.html">Abrigos</a></li>
                        <li><a href="/views/shirts.html">Camisetas</a></li>
                        <li><a href="/views/pants.html">Pantalones</a></li>
                        <label for="check" class="close-menu"><i class='bx bx-x' ></i></label>
                    </span>
                    <label for="check" class="open-menu"><i class='bx bx-menu'></i></i></label>
                </ul>
                <ul class="carrito">
                    <li><a href="#">Carritos</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <article class="todos">
                <h1>Abrigos</h1>
                <div class="camisetas">
                    <div class="hoodie">
                        <div class="hoodie1"></div>
                        <div class="text">
                            <strong>Hoodie 1</strong>
                            <small>$20.99</small>
                        </div>
                    </div>
                    <div class="hoodie">
                        <div class="hoodie2"></div>
                        <div class="text">
                            <strong>Hoodie 2</strong>
                            <small>$20.99</small>
                        </div>
                    </div>
                    <div class="hoodie">
                        <div class="hoodie3"></div>
                        <div class="text">
                            <strong>Hoodie 3</strong>
                            <small>$20.99</small>
                        </div>
                    </div>
                    <div class="hoodie">
                        <div class="hoodie4"></div>
                        <div class="text">
                            <strong>Hoodie 4</strong>
                            <small>$20.99</small>
                        </div>
                    </div>
                    <div class="hoodie">
                        <div class="hoodie5"></div>
                        <div class="text">
                            <strong>Hoodie 5</strong>
                            <small>$20.99</small>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>