<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/storage/img/logo-black.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
</head>
<body>
    <main class="container">
        <section>
            <nav class="menu">
                <div class="titulo">
                    <h1 class="title">CampusShop</h1>
                </div>
                <ul class="menu1">
                    <input type="checkbox" id="check">
                    <span class="menus">
                        <div class="all">
                            <li><a href="#"><i class='bx bx-closet'></i></a></li>
                            <li><a href="/index.html">Todos los productos</a></li>
                        </div>
                        <div class="abri">
                            <li><a href="/views/abrigos.html"><i class='bx bxs-shopping-bag'></i></a></li>
                            <li><a href="/views/abrigos.html">Abrigos</a></li>
                        </div>
                        <div class="tshirts">
                            <li><a href="/views/abrigos.html"><i class='bx bxs-t-shirt'></i></a></li>
                            <li><a href="/views/shirts.html">Camisetas</a></li>
                        </div>
                        <div class="pantal">
                            <li><a href="/views/pants.html"><i class='bx bxs-purchase-tag'></i></a></li>
                            <li><a href="/views/pants.html">Pantalones</a></li>
                        </div>
                        <div class="carm">
                            <li><a href="/views/carritov1.html" class="carrito1"><i class='bx bxs-cart-alt'></i></a></li>
                            <li><a href="/views/carritov1.html">Carritos</a></li>
                            <li><a href="/views/carritov1.html" class="numero">0</a></li>
                            
                        </div>
                        <div class="piepag2">
                            <li><a href="#"><i class='bx bx-copyright'></i></a></li>
                            <li><a href="#">2023 Camper</a></li>
                        </div>
                        <label for="check" class="close-menu"><i class='bx bx-x' ></i></label>
                    </span>
                    <label for="check" class="open-menu"><i class='bx bx-menu'></i></i></label>
                </ul>
                <ul class="carrito">
                    <div class="car">
                        <div class="caja">
                            <li><a href="/views/carritov1.html"><i class='bx bxs-cart-alt'></i></a></li>
                            <li><a href="/views/carritov1.html">Carritos</a></li>
                            <li><a href="/views/carritov1.html" class="numero">0</a></li>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="piepag1">
                        <li><a href="#"><i class='bx bx-copyright'></i></a></li>
                        <li><a href="#">2023 Camper</a></li>
                    </div>
                </ul>
            </nav>
        </section>
        <section>
            <article class="maincarrito">
                <h1>Carrito</h1>
                <div class="text1">
                    <strong>No hay objetos en el carrito :(</strong>
                </div>
            </article>
        </section>
    </main>
</body>
</html>