<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="storage/img/logo-black.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
</head>
<body>
    <main class="container">
        <section>
            <nav class="menu">
                <div class="titulo">
                    <h1 class="title">CampusShop</h1>
                </div>
                <ul class="menu1">
                    <input type="checkbox" id="check">
                    <span class="menus">
                        <div class="all">
                            <li><a href="#"><i class='bx bx-closet'></i></a></li>
                            <li><a href="/index.html">Todos los productos</a></li>
                        </div>
                        <div class="abri">
                            <li><a href="/views/abrigos.html"><i class='bx bxs-shopping-bag'></i></a></li>
                            <li><a href="/views/abrigos.html">Abrigos</a></li>
                        </div>
                        <div class="tshirts">
                            <li><a href="/views/abrigos.html"><i class='bx bxs-t-shirt'></i></a></li>
                            <li><a href="/views/shirts.html">Camisetas</a></li>
                        </div>
                        <div class="pantal">
                            <li><a href="/views/pants.html"><i class='bx bxs-purchase-tag'></i></a></li>
                            <li><a href="/views/pants.html">Pantalones</a></li>
                        </div>
                        <div class="carm">
                            <li><a href="/views/carritov1.html" class="carrito1"><i class='bx bxs-cart-alt'></i></a></li>
                            <li><a href="/views/carritov1.html">Carritos</a></li>
                        </div>
                        <div class="piepag2">
                            <li><a href="#"><i class='bx bx-copyright'></i></a></li>
                            <li><a href="#">2023 Camper</a></li>
                        </div>
                        <label for="check" class="close-menu"><i class='bx bx-x' ></i></label>
                    </span>
                    <label for="check" class="open-menu"><i class='bx bx-menu'></i></i></label>
                </ul>
                <ul class="carrito">
                    <div class="car">
                        <li><a href="/views/carritov1.html"><i class='bx bxs-cart-alt'></i></a></li>
                        <li><a href="/views/carritov1.html">Carritos</a></li>
                    </div>
                </ul>
                <ul>
                    <div class="piepag1">
                        <li><a href="#"><i class='bx bx-copyright'></i></a></li>
                        <li><a href="#">2023 Camper</a></li>
                    </div>
                </ul>
            </nav>
        </section>
        <section>
            <article class="maincarrito">
                <h1>Carrito</h1>
                <div class="productoscarsell">
                    <img src="/storage/img/hoodie1v1.jpg" alt="">
                    <div class="nombre">
                        <Strong>Nombre</Strong>
                        <small>Hoodie 1</small>
                    </div>
                    <div class="cantidad">
                        <strong>Cantidad</strong>
                        <div class="cant">
                            <small>2</small>
                        </div>
                    </div>
                    <div class="precio">
                        <strong>Precio</strong>
                        <small>$20.99</small>
                    </div>
                    <div class="subtotal">
                        <strong>Subtotal</strong>
                        <small>$41.98</small>
                    </div>
                    <div class="borrar">
                        <button class="borrar">
                            <a href="/views/carritov1.html"><i class='bx bx-x'></i></a>
                        </button>
                    </div>
                </div>
                <div class="botones">
                    <a href="/views/carritov1.html" class="clear"><button class="vaciar">Borrar carrito</button></a>
                    <div class="comprarahora">
                        <div class="total">
                            <strong>Total</strong>
                            <small>$125.94</small>
                        </div>
                        <button class="pagar">Comprar ahora</button>
                    </div>
                </div> 
            </article>
        </section>
    </main>
</body>
</html>